<section class="categories-show">
  <h1>
  Welcome to the Jungle
  </h1>
  <h2>
  Help your home bloom
  </h2>
  <p>
  Make space in your home for indoor plants. You'll feel better for it. Not only are they beautiful but caring for them helps us slow down and treasure the here and now. We have a wide range to choose from, including succulents, cacti and other tropical plants.
  </p>
  <a class="navbar-brand" href="<%= root_path %>">Get Shopping!</a>


</section>
